---
skillSections:
  - name: 'Development'
    skillKey: dev
  - name: 'Infrastructure'
    skillKey: ops
  - name: 'Agile Practices'
    skillKey: practices
  - name: 'Tools'
    skillKey: tools
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CV - {{ site.data.cv.me.name }}</title>
    <meta name="description" content="{{ site.data.cv.me.role }}">

    <link rel="stylesheet" href="/css/site.css" type="text/css" media="all" />
    <script type="text/javascript" src="/js/main.js"></script>

      <!--[if lt IE 9]>
      <![endif]-->
  </head>

  <body>

  <main>
    <section class="top-matter">
      <header>
        <h1>{{ site.data.cv.me.name }}
          <span class="subtitle">{{ site.data.cv.me.role }}</span>
        </h1>
        <p class="availability">Next available: {{ site.data.cv.me.nextAvailable }}</p>
      </header>
      <nav>
        <ul class="navigation">
          <li><a href="#skills">Skills</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#qualifications">Qualifications</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <address>
        {% assign email = site.data.cv.contact.email %}
        {% assign linkedIn = site.data.cv.contact.linkedIn %}
        {% assign twitter = site.data.cv.contact.twitter %}
        {% assign web = site.data.cv.contact.web %}
        <ul class="unstyled">
          <li>
            {{ email }}
          </li>
          <li>
            <span class="dim">linkedin.com/in/</span>{{ linkedIn }}
          </li>
          <li>
            <span class="dim">twitter.com/</span>{{ twitter }}
          </li>
          <li>{{ web }}</li>
        </ul>
      </address>
      <ul class="buttons">
        <li><a class="print-button">Print</a></li>
        <li><a class="pdf-button" href="./cv.pdf">PDF</a></li>
      </ul>

    </section>

    <section class="statement">
      <div class="avatar">
        <img src="{{ site.data.cv.me.avatar }}"
             alt="A picture of Michael Allen">
      </div>
      <div class="personalStatement">
        {% for para in site.data.cv.statement %}
        <p>{{ para }}</p>
        {% endfor %}
      </div>
    </section>

    <a class="anchor" id="skills"></a>
    <section class="groupHeading">
      <header>
        <h2>Skills</h2>
      </header>
      <div>
        {% for para in site.data.cv.skills.intro %}
        <p>{{para}}</p>
        {% endfor %}
      </div>
    </section>
    {% for section in page.skillSections %}
    {% assign skills = site.data.cv.skills[section.skillKey]%}
    <section>
      <header><h3>{{ section.name }}</h3></header>
      <div>
        {% if skills.favour or skills.skilled %}
        <ul class="unstyled">
          {% if skills.favour %}
          <li>
            <ul aria-label="I prefer using:" class="inline">
            {% for skill in skills.favour %}
              <li class="skill">{{ skill }}</li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}

          {% if skills.skilled %}
          <li>
            <ul aria-label="I am also skilled in:" class="inline">
            {% for skill in skills.skilled %}
              <li class="skill">{{ skill }}</li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}
        </ul>
        {% endif %}

        {% if skills.detail %}
        <ul>
          {% for detail in skills.detail %}
          <li>{{ detail }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </section>
    {% endfor %}

    <a class="anchor" id="experience"></a>
    <section class="groupHeading">
      <header>
        <h2>Experience</h2>
      </header>
    </section>

    {% for position in site.data.cv.experience %}

    <section class="experience">
      <header>
        <h3>{{position.name}}</h3>
        <span class="client">{{ position.client }}</span>
        <span class="date">{{ position.from }} - {{ position.to | default: ongoing }}</span>
        <span class="duration">{{ position.duration }}</span>
      </header>

      <div>
        {% for para in position.statement %}
        <p>{{ para }}</p>
        {% endfor %}

        <ul class="unstyled">
          {% if position.technologies %}
          <li>
            <ul aria-label="Technologies used:" class="inline">
            {% for tech in position.technologies %}
              <li class="skill">{{ tech }}</li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}

          {% if position.sources %}
          <li class="experience-sources">
            <ul aria-label="Sources:" class="sources inline">
            {% for source in position.sources %}
              <li><a href="{{ source.url }}">{{ source.name }}</a></li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}

          {% if position.contacts %}
          <li>
            <ul aria-label="Contacts:" class="contacts inline">
            {% for contact in position.contacts %}
              <li><a href="{{ contact.url }}">{{ contact.name }}</a></li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </section>

    {% endfor %}

    <a class="anchor" id="qualifications"></a>
    <section class="groupHeading">
      <header>
        <h2>Qualifications</h2>
      </header>
      <div>
        <ul class="unstyled">
          {% for qualification in site.data.cv.qualifications %}
          <li>
            {{ qualification.course }},
            <span class="school">{{ qualification.school }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <a class="anchor" id="contact"></a>
    <section class="groupHeading contacts">
      <header><h2>Contact</h2></header>
      <div>
        <ul class="unstyled">
          <li>
            {% assign email = site.data.cv.contact.email %}
            <span class="label">Email</span>
            {{ email }}
          </li>
          <li>
            {% assign linkedIn = site.data.cv.contact.linkedIn %}
            <span class="label">LinkedIn</span>
            <a href="https://linkedIn.com/in/{{ linkedIn }}" id="linkedIn">{{ linkedIn }}</a>
          </li>
          <li>
            {% assign twitter = site.data.cv.contact.twitter %}
            <span class="label">Twitter</span>
            <a href="https://twitter.com/{{ twitter }}" id="twitter">{{ twitter }}</a>
          </li>
          <li>
            {% assign web = site.data.cv.contact.web %}
            <span class="label">Website</span>
            <a href="https://{{ web }}" id="twitter">{{ web }}</a>
          </li>
        </ul>
      </div>
    </section>

  </main>
  <footer>
    <div class="wrapper">
      <section>
        <header>
        </header>
        <div>
          <ul class="unstyled">
            <li>
              <ul aria-label="Built with" class="inline">
                <li>Jekyll</li>
              </ul>
            </li>
            <li>Hosted on Github Pages</li>
            <li>
              Source code at
              <a href="https://github.com/michaeldfallen/cv">
                github.com/michaeldfallen/cv
              </a>
            </li>
            <li>Last updated 12th Sept 2017</li>
            <li></li>
          </ul>
        </div>
      </section>
    </div>
  </footer>
  </body>
</html>
